{% load static %}
<link rel="stylesheet" href="{% static 'language/style.css' %}">
<form action="upload" method="post" enctype="multipart/form-data">
    <script type="text/javascript">
        count = 3
    
        function addAppend(){
            var fieldset = document.getElementById("addele");
            var x = document.getElementById("1");
            var y = document.getElementById("2");
    
            a = x.cloneNode(true);
            b = y.cloneNode(true);
    
            a.setAttribute("id", count++);
            b.setAttribute("id", count++);
    
            fieldset.append(a, b);
        }
    </script>

    {% csrf_token %}
    <legend><h1>파일 업로드</h1></legend>
    <fieldset id="addele">
        <div id="1"><input name="files" type="file"></div>
        <div id="2">정답 : <input name="answer" type="text"></div>
    </fieldset>

    <div><input type="button" onclick="addAppend();" value="항목 추가"></div>
    <div><input type="submit" value="업로드"></div>
</form>